body {
margin-left: 10px;
background: #038491;
color: #fff;
font-family: 'Playball', cursive;
font-weight: bolder;
font-size: xx-large;
text-align: center;

}

span {
	color:#630391;

}

p {
	font-family: Arial;
}